isInChannel does not comply with RFC

The Event_Request isInChannel() method returns true only if the channel begins with '#'.

Per the 1993 RFC 1459, channels begin with either # or &.
Per the 2000 RFC 2811 and 2812, channels begin with any of: &, #, +, or !.

[RFC 1459](http://www.faqs.org/rfcs/rfc1459.html), Section 1.3
[RFC 2811](http://www.faqs.org/rfcs/rfc2811.html), Section 2.1
[RFC 2812](http://www.faqs.org/rfcs/rfc2812.html), Section 1.3

We should at least comply with RFC 1459, as I know networks that use &.
